<h2>Escolhas</h2>
<p>
  {{#each choices }}
    {{ ID }}
    {{ RA }}
    {{ ID_ELETIVA }}
  {{/each }}
</p>

<h2>Eletivas</h2>
<p>
  {{#each subjects}}
    {{ id }}
    {{ TIPO_ELETIVA }}
    {{ COD_ELETIVA }}
    {{ NOME_ELETIVA }}
    {{ DIA_SEMANA }}
    {{ CH }}
  {{/each }}
</p>