<h2>Eletivas</h2>
<p>
  {{#each choiceTable}}
    {{ ID }}
    {{ TIPO_ELETIVA }}
    {{ COD_ELETIVA }}
    {{ NOME_ELETIVA }}
    {{ DIA_SEMANA }}
    {{ CH }}
    {{ hasChosen }}
    {{ weekDay }}<br>
  {{/each }}
</p>