<script>

    $(document).ready(function () {


      // Deixa sua escolha = true como verde
        $('.choice').each(function () {
            if ($(this).html() == 'true') {
                $(this).css('background-color', 'green')
                $(this).css('color', 'white')
            }
        })

        // Array de escolhas e adiciona a array de escolhas
        let choices = []

        $('.name').click(function () {
            choices.push($(this).attr('id'))
        })

        // Deixa cinza todas as otras rows
        $('.rowIdentifier').click(function () {

            $(this).css('background-color', '#dee6ec')

            $('.rowIdentifier').not(this).each(function () {
                $(this).css('background-color', '#8d9296')
            })
        })

        // Faz o post
        $('#submit').click(function () {

            let ra = $(location).attr('pathname').substring(8)

            let postInfo = {'choices': choices}

            fetch(ra,
                    {
                        method: 'POST',
                        body: postInfo
                    }).then(function () {
                alert('Cadastrado com sucesso')
                window.location.replace('/thanks')
            })
        })

    })

</script>

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 text-center">
            <div style="padding: 50px"><img src="/images/logo-techPNG.png" width="222" height="71" alt=""/></div>
            <div style="padding: 50px">
                <table class="table table-bordered table-hover"
                       style="background-color: aliceblue; color: darkslategrey; border-radius: 5px;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo de Eletiva</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Dia da Semana</th>
                        <th scope="col">Carga Horária</th>
                        <th scope="col">Sua Escolha?</th>
                    </tr>
                    </thead>
                    {{#each choiceTable}}
                        <tr class="rowIdentifier">
                            <th scope="col" id="{{ ID }}" class="identifier">{{ ID }}</th>
                            <th scope="col" id="{{ ID }}" class="identifier">{{ TIPO_ELETIVA }}</th>
                            <th scope="col" id="{{ ID }}" class="identifier">{{ COD_ELETIVA }}</th>
                            <th scope="col" id="{{ ID }}" class="name identifier">
                                <a href="javascript:;">{{ NOME_ELETIVA }}</a>
                            </th>
                            <th scope="col" id="{{ ID }}" class="identifier">{{ weekDay }}</th>
                            <th scope="col" id="{{ ID }}" class="identifier">{{ CH }}</th>
                            <th scope="col" id="{{ ID }}" class="identifier choice">{{ hasChosen }}</th>
                        </tr>

                    {{/each }}
                </table>
            </div>
            <div style="padding-bottom: 50px">
                <button type="button" class="btn btn-primary" style="width: 30%" id="submit">Enviar</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>