<div class="list">
  <div class="header">
    <div class="container">
      <img src="/images/logo.png" alt="Logo ESPM" class="header-logo">
    </div>
  </div>
  <div class="container">
    <h2 class="list-title">Bem-vindo {{ choiceTable.student.NOME }}!</h2>
    <p class="list-text">Selecione quais serão suas materias eletivas para o semestre {{ choiceTable.student.SEMESTRE_PREVISTO }} do curso de TECH.</p>
    {{#if choiceTable.student.SEXTA_DISPONIVEL}}
      <p class="list-text">Você tem sexta feira disponível.</p>
    {{else}}
      <p class="list-text">Você não tem sexta feira disponível.</p>
    {{/if}}
    <p class="list-text">As disciplinas eletivas ESPM tem CH de 36 horas aula, ou seja, apenas meia noite cada. Então, se desejar fazer essas eletivas, deverá escolher 2 diferentes para somar 72 horas aula nesse dia e cumprir uma noite inteira.</p>
    <p class="list-text">Acesse <a href="/eletivas.pdf">aqui</a> o descritivo das matérias eletivas ESPM.</p>

    <form method="POST" action="/validate">
      <input type="hidden" name="ra" value="{{ choiceTable.student.RA }}">
      {{#each choiceTable.subjects}}
        <div class="togglebox">
          <div class="togglebox-header">
            <label class="checkboxwrapper">{{ COD_ELETIVA }} - {{ NOME_ELETIVA }}
              <input name="choices" value="{{ ID }}" type="checkbox" {{ hasChosen }}>
              <span class="checkmark"></span>
            </label>
            <span class="togglebox-icon" data-toggle></span>
          </div>
          <div class="togglebox-content">
            <div class="togglebox-item">
              <h3 class="item-title">Dia da semana:</h3>
              <span class="item-text">{{ weekDay }}</span>
            </div>
            <div class="togglebox-item">
              <h3 class="item-title">Carga horária:</h3>
              <span class="item-text">{{ CH }}</span>
            </div>
          </div>
        </div>
      {{/each}}

      <div class="button-holder" onclick="sendChoices()">
        <input type="submit" value="Enviar" class="button">
      </div>
    </form>
  </div>
</div>
